# .gitignore - Fichiers a ne PAS versionner
 
#Environnement Python
_ _pycache _ _/
*._pycache
venv/
.env

#Modele ML(trop gros pour GitHub)
models/*.pkl

#Fichiers OS
.DS_STORE
Thumbs.db

#IDE
.vscode/
.idea/